*{
    scroll-behavior: smooth;
}
@font-face {
    font-family: Latisca;
    src: url(../Font/FontsFree-Net-Lastica.ttf);
}
@font-face {
    font-family: Mokoto;
    src: url(../Font/Mokoto\ Demo.ttf);
}
@font-face {
    font-family: Tomorrow;
    src: url(../Font/Tomorrow-Regular.ttf);
}
.logo{
    margin-left: 1%;
}
.latisca_text{
    font-family:"Latisca";
}
.mokoto_text{
    font-family:"Mokoto";
}
.tomorrow{
    font-family:"Tomorrow";
}
.company_name{
    font-weight: bold;
    font-size: 40px
}
.main_content_index{
    background-image: url("../SVG/layered-waves-haikei.svg");
    aspect-ratio: 960/540  ;
    width: 100%;  
    height: 120vh;
    z-index: 1;
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
}

.blob_container{
    background-image: url("../SVG/blob-1-opacity-44.gif");
    aspect-ratio: 960/540  ;
    position:absolute;
    overflow: hidden;
    top: 0%;
    width: 60%;  
    height: 100%;
    z-index: -2;
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    
}

.nav_link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    -webkit-transition: font-size 0.3s; 
    transition: font-size 0.3s;
}
.link_title{
    font-size: 25px;
    font-weight: bold;

}
.link_title:hover{
    color: #825994;
    font-size: 25px;
}

.main_content_index h1{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #416342;
    -webkit-text-stroke-width: 0.3vw;
    color: transparent;
    font-size: 10vw;
}
.main_content_index h2{
    font-family: "Mokoto";
    font-size: 2vw;
    letter-spacing: 5px;
    position:relative;
    bottom: 5vw;
}
.main_img{
    position:relative;
    bottom: 4vw;
}
@media screen and (max-width: 991px){
    .main_content_index{
        background-image: url("../SVG/layered-waves-haikei.svg");
        aspect-ratio: 960/540  ;
        width: 100%;  
        height: 97vh;
        z-index: 1;
        background-repeat: no-repeat;
        background-position:center ;
        background-size: cover;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    .main_content_index h1{
        font-size: 15vw;   
    }
    .main_content_index h2{
        font-size: 1rem;   
    }
    .main_img{
        max-width: 95vw;
    }
    .main_content_index .container{
        position: relative;
        bottom: 20%;
    }
    .company_name{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 600px){
    .company_name{
        font-weight: bold;
        font-size: 7vw
    }
    
}
.discover_more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
.discover_more.learn-more {
    width: 12rem;
    height: auto;
}

.discover_more.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282931;
    border-radius: 1.625rem;
}

.discover_more.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.discover_more.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.discover_more.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.discover_more.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.discover_more:hover .circle {
    width: 100%;
}

.discover_more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.discover_more:hover .button-text {
    color: #fff;
}
.feature_content{
    padding-top: 10vh;
    background-color: #292929;
    height: 100%;
    padding-bottom: 10vh;
}
.family img{
    padding-bottom: 7.5%;
}
.luxury img{
    padding-bottom: 9%;
}
.daily img{
    padding-bottom: 9%;
}
.daily{
    background-color: #9DC2E6;
    border-radius: 15px;
    border: 2px solid black;
    height: 100%;
}
.family{
    background-color: #b8fc9b;
    border-radius: 15px;
    border: 2px solid black;
    height: 100%;
}
.luxury{
    background-color: #EDEDED;
    border-radius: 15px;
    border: 2px solid black;
    height: 100%;
}
.daily h3{
    font-family: "Mokoto";
    letter-spacing: 3px;
}
.family h3{
    font-family: "Mokoto";
    letter-spacing: 3px;
}
.luxury h3{
    font-family: "Mokoto";
    letter-spacing: 3px;
}
.feature_text{
    font-family: "Tomorrow";
    font-size: large;
    font-weight: light;

}
.feauture_heading{
    font-family: "Mokoto";
    color: #EDEDED;
}
.socials img{
    max-width: 4.8em;
    height: auto;
}
.about-us{
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid black;
    border-radius: 12px;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    backdrop-filter: rgba(255, 255, 255, 0.092);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: transform 0.3s ease; /* Add transition for the transform property */
}

.sidebar.active {
    transform: translateX(0); /* Show the sidebar by translating it horizontally */
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 25px;
    -webkit-transition: font-size 0.3s; 
    transition: font-size 0.3s;
}
.sidebar a:hover {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #85b0e4;
    font-size: 25px;
    -webkit-text-stroke-width: 0.001vw;
}
.hamburger{
    position: fixed;
    top: 10px;
    right: 10px;
}
.x{
    position: relative;
    top: 10px;
    left: 85%;
}
.index_link{
    text-decoration: none;
    color: black;
}
.car_img{
    border-radius: 12px;
    z-index: 1;
    height: 400px;
    width: 100%;
}

.car-name{
    font-size:30px;
}
.car-info{
    position: relative;
    display: block;
    bottom: 8%;
    background-color: #424246;
    z-index: 3;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    margin: auto;
}
.seat_size_icon{
    width: 30px;
}
.car-card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.flip-card{
    transform: rotateY(180deg);    
}

.front-card {
    backface-visibility: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    backface-visibility: hidden;
    border-radius: 12px;
    transform: rotateY(180deg);
    background-color: white;
    height: 100%;
}

.inquire-btn{
    --color: #00A97F;
    padding: 0.3em 1.0em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.inquire-btn::before, .inquire-btn::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
 transition: 1s ease;
}

.inquire-btn::before {
    top: -1em;
    left: -1em;
}

.inquire-btn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.inquire-btn:hover::before, .inquire-btn:hover::after {
    height: 410px;
    width: 410px;
}

.inquire-btn:hover {
    color: rgb(10, 25, 30);
}

.inquire-btn:active {
    filter: brightness(.8);
}
.info-button{
    position: absolute;
    top: -10px;
    background-color: #2B2B2B;
    border-radius: 30px;
    right: -10px;
    cursor: pointer;
    transition: 0.5s;
}
.info-button:hover{
    fill: #91D475;
}
.close-button{
    position: absolute;
    top: -10px;
    background-color: #2B2B2B;
    border-radius: 30px;
    right: -10px;
    cursor: pointer;
    transition: 0.5s;
}
.close-button:hover{
    fill: #91D475;
}
.price-input-container { 
    width: 100%; 
} 
  
.price-input .price-field { 
    display: flex; 
    margin-bottom: 22px; 
} 
  
.price-field span { 
    margin-right: 10px; 
    margin-top: 6px; 
    font-size: 17px; 
} 
  
.price-field input { 
    flex: 1; 
    height: 35px; 
    font-size: 15px; 
    font-family: "DM Sans", sans-serif; 
    border-radius: 9px; 
    text-align: center; 
    border: 0px; 
    background: #e4e4e4; 
} 
  
.price-input { 
    width: 100%; 
    font-size: 19px; 
    color: #555; 
} 
  
/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 
  
.slider-container { 
    width: 100%; 
} 
  
.slider-container { 
    height: 6px; 
    position: relative; 
    background: #e4e4e4; 
    border-radius: 5px; 
} 
  
.slider-container .price-slider { 
    height: 100%; 
    left: 0%; 
    right: 0%; 
    position: absolute; 
    border-radius: 5px; 
} 
  
.range-input { 
    position: relative; 
} 
  
.range-input input { 
    position: absolute; 
    width: 100%; 
    height: 5px; 
    background: none; 
    top: -5px; 
    pointer-events: none; 
    cursor: pointer; 
    -webkit-appearance: none; 
} 
  
input[type="range"]::-webkit-slider-thumb { 
    height: 18px; 
    width: 18px; 
    border-radius: 70%; 
    background: #9ae68b; 
    pointer-events: auto; 
    -webkit-appearance: none; 
} 
  
@media screen and (max-width: 768px) { 
    .main { 
        width: 80%; 
        margin-right: 5px; 
    } 
  
    .custom-wrapper { 
        width: 100%; 
        left: 0; 
        padding: 0 10px; 
    } 
  
    .projtitle { 
        width: 100%; 
        position: relative; 
        right: 26px; 
    } 
  
    .price-input { 
        flex-direction: column; 
        align-items: center; 
    } 
  
    .price-field { 
        margin-bottom: 10px; 
    } 
}
.input-field {
    position: relative;
    border-bottom: 2px solid #baedbb;
    margin: 15px 0;
  }
  
  .input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
  }
  
  .input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  .input-field input:focus ~ label,
  .input-field input:valid ~ label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
  }
.select-type select{
    border: 2px solid #baedbb;
}

.comment{
    border: 2px solid #8dc08d;
}
.user-details{
    border: 2px solid #bfcbbf;
    padding: 15px;
    border-bottom: 0px;
}
.car-options{
    font-size: 15px;
}
footer{
    background-color: white;
    height: 20vh;
}